<!DOCTYPE html>
<html>

<head>
    <style>
        /* Universal selector*/
        * {
            margin: 0%;
            padding: 0%;

        }

        /* ID selector */
        #container {
            width: 1140px;
            min-height: 800px;
            margin: auto;
        }

        /* class selector */
        .green {
            color: 00ff00;
            font-size: 20px;
            border-bottom: 30px solid #access;
        }

        .red {
            color: #ffffff;
            font-size: 30px;
            border: 4px dotted #access;
        }

        /& Type Selector */ body {
            background-color: black;

        }
    </style>
</head>

<body>
    <div id="container">
        <!--inline-->
        <h2 style="font-size:16px;"> my heading </h2>
        <p class="green">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque, earum animi nam ad aliquid,
            velit asperiores eos aspernatur expedita itaque quia neque quos. Maiores beatae, repudiandae commodi quaerat
            odio quos?</p>
        <p class="red">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos ratione, quibusdam ducimus mollitia labore
            vel, ad voluptatum, natus optio aperiam dolorem sunt nihil similique quod enim consequuntur totam ipsam
            itaque.
        </p>
    </div>
    <!--container close-->
</body>

</html>